<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<th:block th:fragment="modal-delete(route, title, entityName)">
    <div class="modal fade" id="modalDelete" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content border-0 rounded-4">
                <div class="modal-header text-bg-primary rounded-top-4">
                    <h5 class="modal-title"><i class="bi bi-trash me-2"></i>[[${title}]]</h5>
                </div>
                <div class="modal-body py-5">
                    Êtes-vous sûr de vouloir supprimer <strong id="delete-name"></strong> ?
                </div>
                <div class="modal-footer rounded-bottom-4">
                    <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Annuler</button>
                    <form id="delete-form" method="post">
                        <button type="submit" class="btn btn-danger">
                            <i class="bi bi-trash me-2"></i>Supprimer
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        document.getElementById('modalDelete').addEventListener('show.bs.modal', function(event) {
            const button = event.relatedTarget;
            document.getElementById('delete-name').textContent = button.getAttribute('data-name');
            document.getElementById('delete-form').action = [[${route}]] + '/' + button.getAttribute('data-id') + '/supprimer';
        });
    </script>
</th:block>

</body>
</html>