<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{common/head :: head(#{website.name})}"></th:block>
</head>
<body>
<div class="d-flex flex-column flex-wrap align-items-center container" style="margin-top: 10vh;">

    <!-- Logo + Title -->
    <img th:src="#{website.logo}" alt="Logo" width="120" class="mb-1">
    <h1 class="fw-bold text-primary mb-1" th:text="#{website.name}"></h1>
    <p class="text-primary fst-italic mb-4">Veuillez vous connecter pour accéder à la plateforme</p>

    <!-- Error Message -->
    <p th:if="${error}" th:text="${error}" class="text-danger"></p>

    <!-- Forms -->
    <div class="d-flex flex-column form-login rounded-4 p-4 p-md-5 w-100 shadow">
        <form method="post" th:action="@{/login}">
            <div class="mb-4">
                <label class="form-label text-muted">Nom d'utilisateur</label>
                <input type="text" name="login"
                       th:classappend="${error != null} ? 'is-invalid' : ''"
                       class="form-control rounded"
                       placeholder="Entrez votre nom d'utilisateur"
                       required
                       autofocus/>
            </div>
            <div class="mb-5">
                <label class="form-label text-muted">Mot de passe</label>
                <div class="position-relative">
                    <input type="password" name="password" id="password"
                           th:classappend="${error != null} ? 'is-invalid' : ''"
                           class="form-control rounded pe-5"
                           placeholder="Entrez votre mot de passe"
                           required/>
                    <i class="bi bi-eye position-absolute top-50 end-0 translate-middle-y me-3 text-muted toggle-password"
                       data-target="password" style="cursor: pointer;"></i>
                </div>
            </div>
            <div class="d-grid mb-2">
                <button type="submit" class="btn btn-primary rounded">Se connecter</button>
            </div>
            <a href="#" class="text-decoration-underline text-muted small">Mot de passe oublié ?</a>
        </form>
    </div>
</div>
</body>
</html>