<!DOCTYPE html>
<html lang="fr"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{website.name}"></title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="d-flex flex-column flex-wrap align-items-center container" style="margin-top: 10vh;">

    <!-- Logo + Title -->
    <img th:src="#{website.logo}" alt="Logo" width="120" class="mb-1">
    <h1 class="fw-bold text-primary mb-1" th:text="#{website.name}"></h1>
    <p class="text-primary fst-italic mb-4">Veuillez vous connecter pour accéder à la plateforme</p>

    <!-- Error Message -->
    <p th:if="${error}" th:text="${error}" class="text-danger"></p>
    <p th:if="${success}" th:text="${success}" class="text-success"></p>

    <!-- Forms -->
    <div class="d-flex flex-column form-login rounded-4 p-4 p-md-5 w-100 shadow">
        <form method="post" th:action="@{/login}">
            <div class="mb-4">
                <label class="form-label text-muted">Nom d'utilisateur</label>
                <input type="text" name="login"
                       th:classappend="${error != null} ? 'is-invalid' : ''"
                       class="form-control rounded"
                       placeholder="Entrez votre nom d'utilisateur"
                       required
                       autofocus/>
            </div>
            <div class="mb-5">
                <label class="form-label text-muted">Mot de passe</label>
                <input type="password" name="password"
                       th:classappend="${error != null} ? 'is-invalid' : ''"
                       class="form-control rounded"
                       placeholder="Entrez votre mot de passe"
                       required/>
            </div>
            <div class="d-grid mb-2">
                <button type="submit" class="btn btn-primary rounded">Se connecter</button>
            </div>
            <a th:href="@{/mot-de-passe-oublie}" class="text-decoration-underline text-muted small">Mot de passe oublié ?</a>
        </form>
    </div>
</div>
</body>
</html>