<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head(#{website.name})}"></head>

<body>
<div th:replace="~{common/navbar :: navbar}"></div>
<main class="container py-4">
    <div>
        <div th:if="${submitState} != null">
            <div th:if="${submitState} == 'success'">
                <div th:replace="~{common/modal-creation :: modal-success}"></div>
            </div>
            <div th:unless="${submitState} == 'success'">
                <div th:replace="~{common/modal-creation :: modal-error}"></div>
            </div>
        </div>
    </div>

    <div class="card border-0 rounded-4 shadow-sm">
        <div class="card-header rounded-top-4 bg-primary text-white p-3">
            <h1 class="h3 mb-0 py-1"><i class="bi bi-person-plus-fill me-2"></i>Créer un interprète</h1>
        </div>

        <div>
            <form name="creation-user" id="creation-interpreter" class="p-2" th:action="@{/interpretes/creer}"
                  th:object="${interpreterForm}" method="post">
                <div class="d-flex flex-column align-items-center">
                    <div class="d-flex flex-column flex-md-row col-8">
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="lastname">Nom&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                            <input class="form-control" type="text" name="lastname" id="lastname" th:field="*{lastName}" required />
                        </div>
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="firstname">Prénom&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                            <input class="form-control" type="text" name="firstname" id="firstname" th:field="*{firstName}" required />
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row col-8">
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="email"><i class="bi bi-envelope-fill me-2"></i>Mail&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                            <input class="form-control" type="email" name="email" id="email" th:field="*{email}" required />
                        </div>
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="phone"><i class="bi bi-telephone-fill me-2"></i>Téléphone</label>
                            <input class="form-control" type="tel" name="phone" id="phone"
                                   pattern="[0-9]+\/[0-9]+\.[0-9]+\.[0-9]+" placeholder="xxxx/xx.xx.xx" th:field="*{phoneNumber}" />
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row col-8">
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="password">Mot de passe&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                            <input class="form-control" type="password" name="password" id="password" autocomplete="new-password" th:field="*{password}" minlength="6" required />
                        </div>
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="birthdate"><i class="bi bi-cake2-fill me-2"></i>Naissance&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                            <input class="form-control" type="date" name="birthdate" id="birthdate" th:field="*{birthDate}" required />
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-md-row col-8">
                        <div class="d-flex flex-column m-2 col-md-6">
                            <label class="form-label col-12 mb-1" for="transportMode"><i class="bi bi-car-front-fill me-2"></i>Mobilité</label>
                            <input class="form-control" type="text" name="transportMode" id="transportMode" th:field="*{transportMode}" />
                        </div>
                    </div>
                </div>

                <hr>
                <div>
                    <h3 class="text-primary"><i class="bi bi-geo-alt-fill me-2"></i>Localisation</h3>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex flex-column flex-md-row col-8">
                            <div class="d-flex flex-column m-2 col-md-6">
                                <label class="form-label col-12 mb-1" for="cityId">Ville&nbsp;<p class="d-inline text-danger">*</p></label>
                                <select class="form-select" name="cityId" id="cityId" required>
                                    <option value="" selected>-- Sélectionner --</option>
                                    <option th:each="city : ${allCities}"
                                            th:value="${city.id}"
                                            th:text="${city.postalCode + ' - ' + city.designation}"></option>
                                </select>
                            </div>
                            <div class="d-flex flex-column m-2 col-md-6">
                                <label class="form-label col-12 mb-1" for="street">Rue&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                                <input class="form-control" type="text" name="street" id="street" th:field="*{street}" required />
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-md-row col-8">
                            <div class="d-flex flex-column m-2 col-md-2">
                                <label class="form-label col-12 mb-1" for="streetNumber">Numéro</label>
                                <input class="form-control" type="text" name="streetNumber" id="streetNumber" th:field="*{streetNumber}" />
                            </div>
                            <div class="d-flex flex-column m-2 col-md-2">
                                <label class="form-label col-12 mb-1" for="box">Boite</label>
                                <input class="form-control" type="number" name="box" id="box" min="0" value="0" th:field="*{box}" />
                            </div>
                            <div class="d-flex flex-column m-2 col-md-8">
                                <label class="form-label col-12 mb-1" for="designation">Désignation</label>
                                <input class="form-control" type="text" name="designation" id="designation" th:field="*{locationDesignation}" />
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div>
                    <h3 class="text-primary">Quotas</h3>
                    <div class="d-flex flex-column align-items-center">
                        <div class="d-flex flex-column flex-md-row col-8">
                            <div class="d-flex flex-column m-2 col-md-6">
                                <label class="form-label col-12 mb-1" for="weekHourlyQuota">Hebdomadaire&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                                <input class="form-control" type="number" name="weekHourlyQuota" id="weekHourlyQuota" min="0" value="0" th:field="*{hourQuotaWeek}" required />
                            </div>
                            <div class="d-flex flex-column m-2 col-md-6">
                                <label class="form-label col-12 mb-1" for="yearHourlyQuota">Annuel&nbsp;<p class="d-inline text-danger m-0">*</p></label>
                                <input class="form-control" type="number" name="yearHourlyQuota" id="yearHourlyQuota" min="0" value="0" th:field="*{hourQuotaYear}" required />
                            </div>
                        </div>
                    </div>
                </div>

                <hr>
                <div>
                    <h3 class="text-primary">Compétences</h3>
                    <div class="d-flex flex-column flex-lg-row">
                        <div class="d-flex flex-column align-items-center col-lg-6">
                            <h2 class="h5 m-2">Métiers</h2>
                            <fieldset id="chosen-job" class="d-sm-flex flex-wrap justify-content-end col-sm-10">
                                <div class="form-check col-12 col-sm-5 col-xl-4" th:each="skill : ${allJobSkills}">
                                    <input class="form-check-input" type="checkbox" th:id="${skill.designation}" th:name="${skill.designation}"
                                           th:field="*{jobSkillList}" th:value="${skill.designation}"/>
                                    <label class="form-check-label" th:for="${skill.designation}" th:text="${skill.designation}"></label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="d-flex flex-column align-items-center col-lg-6">
                            <h2 class="h5 m-2">Académiques</h2>
                            <fieldset id="chosen-academic" class="d-sm-flex flex-wrap justify-content-end col-sm-10">
                                <div class="form-check col-12 col-sm-5 col-xl-4" th:each="skill : ${allAcademicSkills}">
                                    <input class="form-check-input" type="checkbox" th:id="${skill.designation}" th:name="${skill.designation}"
                                           th:field="*{academicSkillList}" th:value="${skill.designation}"/>
                                    <label class="form-check-label" th:for="${skill.designation}" th:text="${skill.designation}"></label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                </div>

                <hr>
                <div class="d-grid d-md-flex justify-content-md-center gap-2">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="bi-floppy-fill me-2"></i>Créer</button>
                    <a th:href="@{/interpretes}"
                       class="btn btn-outline-secondary btn-lg">Annuler</a>
                </div>
            </form>
        </div>
    </div>
</main>

<script>
    const today = new Date();
    const year = today.getFullYear();
    const month = String(today.getMonth() + 1).padStart(2, '0');
    const day = String(today.getDate()).padStart(2, '0');

    document.getElementById('birthdate').setAttribute('max', `${year}-${month}-${day}`);
</script>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>