<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{common/head :: head(#{website.name})}"></head>

<body>

<!-- Navbar -->
<div th:replace="~{common/navbar :: navbar}"></div>

<main class="container py-4 md-5">
    <div th:if="${submitState != null}">
        <div th:replace="~{common/modal-creation :: modal-error(${submitState})}"></div>
    </div>

    <div class="card border-0 rounded-4 shadow-sm">

        <!-- Header -->
        <div class="card-header rounded-top-4 bg-primary text-white p-3">
            <h1 class="h3 mb-0 py-1"><i class="bi bi-pencil-fill me-2"></i>Modifier le profil</h1>
        </div>

        <!-- Modifications Form -->
        <div class="card-body p-5">
            <form th:action="@{/interpretes/profil/{id}/modifier(id=${interprete.id})}" th:object="${interprete}" method="post">

                <div class="row align-items-center g-4 mb-4">

                    <!-- Avatar -->
                    <div class="col-12 col-md-6 py-5 text-center bg-light rounded-4">
                        <label for="avatar-input" style="cursor:pointer">
                            <img th:src="@{/images/avatar_01.png}" alt="Avatar interprète"
                                 class="profile-avatar rounded-circle border shadow">
                            <div class="mt-2">
                                <span class="badge bg-primary p-2 rounded-4">
                                    <i class="bi bi-pencil-fill me-1"></i>Modifier
                                </span>
                            </div>
                        </label>
                        <input type="file" id="avatar-input" name="avatar" accept="image/*" class="d-none">
                    </div>

                    <!-- Login -->
                    <div class="col-12 col-md-6">
                        <div class="d-flex flex-column gap-3">
                            <div>
                                <label for="login" class="form-label">Identifiant</label>
                                <input id="login" type="text" class="form-control text-muted" th:field="*{login}" readonly>
                            </div>
                            <div>
                                <label for="password" class="form-label">Mot de passe</label>
                                <input id="password" type="password" class="form-control text-muted" value="***********" readonly>
                            </div>
                            <div th:if="${isOwnProfile}">
                                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#modalPassword">
                                    <i class="bi bi-lock-fill me-2 rounded-4"></i>Modifier le mot de passe
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-12 col-md-6">
                        <label for="firstName" class="form-label">Prénom</label>
                        <input id="firstName" type="text" class="form-control" th:field="*{firstName}" required>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="lastName" class="form-label">Nom</label>
                        <input id="lastName" type="text" class="form-control" th:field="*{lastName}" required>
                    </div>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-12 col-md-6">
                        <label for="email" class="form-label"><i class="bi bi-envelope me-2"></i>Adresse mail</label>
                        <input id="email" type="email" class="form-control" th:field="*{email}" required>
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="phoneNumber" class="form-label"><i class="bi bi-telephone me-2"></i>Téléphone</label>
                        <input id="phoneNumber" type="text" class="form-control" th:field="*{phoneNumber}"
                               pattern="[0-9]+\/[0-9]+\.[0-9]+\.[0-9]+" placeholder="xxxx/xx.xx.xx">
                    </div>
                </div>
                <div class="row g-3 mb-4">
                    <div class="col-12 col-md-6">
                        <label for="birthdate" class="form-label"><i class="bi bi-calendar me-2"></i>Date de naissance</label>
                        <input id="birthdate" type="date" class="form-control" name="birthdate" th:value="*{birthDate != null}? *{birthDate} : ''"
                               th:max="${#temporals.format(#temporals.createNow(), 'yyyy-MM-dd')}" required />
                    </div>

                    <div class="col-12 col-md-6">
                        <label for="transportMode" class="form-label"><i class="bi bi-bus-front me-2"></i>Mobilité</label>
                        <input id="transportMode" type="text" class="form-control" th:field="*{transportMode}">
                    </div>
                </div>

                <h2 class="h5 text-primary mb-3">Localisation</h2>

                <div class="row g-3 mb-4">
                    <div class="col-12">
                        <label for="designation" class="form-label">Désignation</label>
                        <input id="designation" type="text" class="form-control" th:field="*{location.designation}">
                    </div>

                    <div class="col-12 col-md-8">
                        <label for="street" class="form-label">Rue</label>
                        <input id="street" type="text" class="form-control" th:field="*{location.street}" required>
                    </div>

                    <div class="col-12 col-md-2">
                        <label for="streetNumber" class="form-label">Numéro</label>
                        <input id="streetNumber" type="text" class="form-control" th:field="*{location.streetNumber}">
                    </div>

                    <div class="col-12 col-md-2">
                        <label for="box" class="form-label">Boîte</label>
                        <input id="box" type="number" min="0" class="form-control" th:field="*{location.box}">
                    </div>
                </div>

                <div class="row g-3 mb-4">
                    <div class="col-12 col-md-6">
                        <label for="cityId" class="form-label">Ville</label>
                        <select id="cityId" class="form-select" name="cityId" required>
                            <option th:each="city : ${allCities}"
                                    th:value="${city.id}"
                                    th:text="${city.postalCode + ' - ' + city.designation}"></option>
                        </select>
                    </div>
                </div>

                <div class="d-grid d-md-flex gap-2">
                    <button type="submit" class="btn btn-primary btn-lg"><i class="bi-floppy-fill me-2"></i>Enregistrer</button>
                    <a th:href="${referer != null} ? ${referer} : @{/interpretes}"
                       class="btn btn-outline-secondary btn-lg">Annuler</a>
                </div>

            </form>
        </div>
    </div>

    <div th:replace="~{common/modal-password :: modal-password(@{/profil/modifier-mot-de-passe}, false)}"></div>

</main>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

</body>
</html>